<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<title>Platina Custom, A faz tudo da Filizola</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h1
	{margin-right:0cm;
	margin-left:0cm;
	font-size:24.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
@page Section1
	{size:595.3pt 841.9pt;
	margin:70.85pt 3.0cm 70.85pt 3.0cm;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=PT-BR>

<div class=Section1>

<h1>Platina Custom, A faz tudo da Filizola.</h1>

<p style='text-align:justify'>Desenvolvida com o que há de mais novo em
tecnologia de pesagem, a linha Platina oferece vários recursos como:</p>

<ul type=disc>
 <li class=MsoNormal>Impressor incorporado,</li>
 <li class=MsoNormal>Teclado de acesso direto,</li>
 <li class=MsoNormal>Várias configurações para utilização da balança em rede,</li>
 <li class=MsoNormal>Permite cadastro de itens pelo software ou teclado,</li>
 <li class=MsoNormal>Maior capacidade de memória e de processamento,</li>
 <li class=MsoNormal>Visor com duas linhas,</li>
 <li class=MsoNormal>Aplicativo para gerenciar as balanças em rede.</li>
</ul>

<p>Em conformidade com a nova tabela nutricional e rotulagem de alimentos (RDC
360 e RDC 259). Possui campos exclusivos no cadastro de produtos para
otimização de memória.</p>

<p class=MsoNormal style='text-indent:35.4pt'><i>(Para habilitar o recurso de
Nutricionais conforme RDC-360 ANVISA é necessário adquirir a Hardkey Smart USB</i></p>

<p class=MsoNormal><b><span style='color:#FF6600'>Vantagens:</span></b>
versátil e inteligente, pode ser utilizada com várias interfaces de
comunicação.</p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal><b>• Platina Custom: </b>Imprime todo tipo de etiqueta,
inclusive a nutricional. Entrada de informações através do gerenciador de
cadastros SMART ou teclado da balança simultaneamente. Possui memória
expandida, com capacidade para 4.000 produtos, 4.000 registros de informações
nutricionais e 352 mil caracteres de receita, além de registros de
fornecedores, fracionadores, mensagens de conservação e descrições genéricas
dos produtos</p>

</div>

</body>

</html>