<% content_for :head do %>
  <%= stylesheet_link_tag "produtos" %>
  <% #TODO: Refatorar o css de produtos, para que background comum fique na aplicacao  %>
<% end %>

<div id="produtoProfile">
  <div id="content">

    <%= image_tag "software/caixa.jpg", :alt => "SA Solucoes" , :class => :floatLeft %>
    <div style="float:right; width: 50%; padding-right: 10px; text-align: justify;">
      <h1>SA Solu&ccedil;&otilde;es - A Empresa</h1>
      <br />
      <br />
      <h2>Missão</h2>
      <p style="font-size: 90%;">
          Evidentemente, a execução dos pontos do programa nos obriga à análise do sistema de participação geral. A nível organizacional, o fenômeno da Internet agrega valor ao estabelecimento do levantamento das variáveis envolvidas. Acima de tudo, é fundamental ressaltar que a necessidade de renovação processual exige a precisão e a definição dos conhecimentos estratégicos para atingir a excelência.
      </p>
      <br />
      <h2>Foco</h2>
      <p style="font-size: 90%;">
          Caros amigos, o desafiador cenário globalizado talvez venha a ressaltar a relatividade das condições inegavelmente apropriadas.
          Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a crescente influência da mídia oferece uma interessante oportunidade para verificação do retorno esperado a longo prazo.
      </p>
      <br />
      <h2>Diferencial</h2>
      <p style="font-size: 90%;">
          O incentivo ao avanço tecnológico, assim como o novo modelo estrutural aqui preconizado ainda não demonstrou convincentemente que vai participar na mudança de todos os recursos funcionais envolvidos. É importante questionar o quanto a mobilidade dos capitais internacionais estende o alcance e a importância do fluxo de informações. Todavia, a constante divulgação das informações maximiza as possibilidades por conta dos relacionamentos verticais entre as hierarquias. Não obstante, a determinação clara de objetivos apresenta tendências no sentido de aprovar a manutenção da gestão inovadora da qual fazemos parte.
      </p>

    </div>
  </div>
</div>