/*
  index
*/

div.produto_promocao{
   width: 295px;
   height: 270px;
   overflow: hidden;
   
   border: 0px solid red;
   margin-left: 8px;
   margin-top: 10px;

   font-size:14px;

   float:left;
   text-align: center;
   background: url(../images/home/produto_bg.png) no-repeat;
}

div.produto_promocao a:link,
div.produto_promocao a:visited{
  text-decoration: none;
  color: black;
  font-size: 100%;
}

div.produto_promocao a:hover{
  text-decoration: underline;
  color: gray;
}

div.produto_imagem{
  margin-top: 10px;
  height: 210px;
  border: 0px dashed black;
}

div.produto_promocao img{
  overflow: hidden;

}

div.produto_promocao p{
  margin: 0px;
  padding:0px;

}
