<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>SA Solu&ccedil;&otilde;es</title>
    <%= stylesheet_link_tag "reset"  %>
    <%= stylesheet_link_tag "application"  %>
    <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
    <%= yield :head  %>
  </head>
  <body bgcolor="#ddd">
    <div id="page">
      <img src="<%= base_path %>/images/application/bg_top.jpg" alt=" " width="1024" />

      <div id="page_content">

        <div id="cabecalho">
          <%= image_tag "logo_solucoes.jpg", :class => "logo" %>
        </div>

        <div id="mainMenu">
          <ul>
            <li><a href="<%=  url_for :action => :index, :controller => :home %>">Início</a></li>
            <li><a href="<%=  url_for :action => :index, :controller => :produtos %>">Produtos</a></li>
            <li><a href="<%=  url_for :action => :index, :controller => :software %>">Software</a></li>
            <li><a href="<%=  url_for :action => :index, :controller => :empresa %>">Empresa</a></li>
            <li><a href="<%=  url_for :action => :index, :controller => :contatos %>">Contato</a></li>
          </ul>
        </div>

        <br /> 
        <div id="conteudo">
          <div id="pagina">
            <%= yield %>
          </div>
        </div>
      </div>

      <img src="<%= base_path %>/images/application/rodape_top.jpg" alt=" " width="1024"/>
      <div id="rodape">
      </div>
      <img src="<%= base_path %>/images/application/rodape_bot.jpg" alt=" " width="1024"/>
    </div>

  </body>
</html>